.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.displayLoginUserData{
  position: relative;
 
}
.postsContainer{
  position: relative;
  top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #57cc99;
  /* margin-right: 150px;
  margin-left: 8px; */
}
.profileBtnContainer{
  position: relative;
  left: 0px;
  z-index: 1;
}
.eachPostContainer{
  position: relative;
}
.likeAndComment{
  width: 200px;
  display: flex;
  justify-content: space-around;
  
}
.likeAndCommentBtn{
  width: 220px;
  display: flex;
  justify-content: space-around;

}
.imageContainer{
  height: 400px;
  width: 500px;
  object-fit: cover;;
}
.commentPicture{
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.profileImage{
  width: 100px;
  height: 100px;
}
.profileDetailContainer{
  width: 300px;
  height: 500px;
  margin-left: 10px;
}
/* .Search-Bar-Box{
  position: relative;
  height: 50px;
  width: 100%;
  background-color: pink;

} */

.UserSearch{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 100px;
}
.imageSearchUser{
height: 100px
}
.UserName-Image{

display: flex;
align-items: center;
width: 500px;
justify-content: space-evenly;
}
.SearchUserDetails{
position: relative;
display: flex;
justify-content: center;
}
.SearchPostContainer{
display: flex;
flex-direction: column;
}
.profileSearchUserDetail{
position: absolute;
  left: 10px;
}