.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.displayLoginUserData{
  position: relative;
 
}
.postsContainer{
  position: relative;
 
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e7f5f4;
  height: 1050px;
  overflow: auto;
  margin-bottom: 30px;
 
}
.profileBtnContainer{
  position: relative;
  left: 0px;
  z-index: 1;
}
.eachPostContainer{
  position: relative;
}
.likeAndComment{
  width: 200px;
  display: flex;
  justify-content: space-around;
  
}
.likeAndCommentBtn{
  width: 220px;
  display: flex;
  justify-content: space-around;

}
.imageContainer{
  height: 400px;
  width: 500px;
  object-fit: cover;;
}
.commentPicture{
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.profileDetailContainer{
  width: 300px;
  height: 500px;
  margin-left: 10px;
}
/* .Search-Bar-Box{
  position: relative;
  height: 50px;
  width: 100%;
  background-color: pink;

} */

.UserSearch{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 100px;
}
.imageSearchUser{
height: 100px
}
.UserName-Image{

display: flex;
align-items: center;
width: 500px;
justify-content: space-evenly;
}
.SearchUserDetails{
position: relative;
top: -30px;

}
.SearchPostContainer{
display: flex;
flex-direction: column;
position: absolute;
right: 250px;
}
.profileSearchUserDetail{
position: absolute;
  left: 10px;
}

.input-container-for-comments {
  position: relative;
  top: 20px;
}

.submit-post-container{
  position: relative;
  top: 25px;
}
.all-posts-Container{
  position: absolute;
  top: 289px;
}
.header-post{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 400px;
}
.comment-container{
  position: relative;
  top: 20px;
  margin-top: 10px;
  max-height: 500px;
  background-color: whitesmoke;
  overflow: auto;
}

.comment-form{
  margin: 20px 10px 60px;
}
.comment-authorName{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px

}
.like-dislike-btn{
  color: red;
}
.likeNumber-and-button{
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  width: 47px;
}

.each-post-container p{
  margin: 10px;
  
}
.eachComment{
  border: 0.5px solid #7ac6e9;
}
.show-user-search-results{
  position: relative;
  top: -30px;
  height: 600px;
  background: rgb(27,77,128);
  background: radial-gradient(circle, rgba(27,77,128,1) 0%, rgba(148,215,233,1) 100%);
}
.your-profile-button{
  min-width: 100px;
  height: 30px;
  color: black;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 20px;
  border: 2px solid #57cc99;
  background: #b3e7ec;
  top: -30px;
}

