body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.login{
  float: right;
  /* border: solid red 1px; */
  padding: 0 70px;
  padding-top: 90px; 
  min-height: 68vh;
  background: rgb(179,231,236);
  background: linear-gradient(180deg, rgba(179,231,236,1) 0%, rgba(227,244,247,1) 100%);
}

.welcome-container{
  /* border: solid blue 1px; */
  max-width: 60%;
  position: absolute;
  padding-top: 180px; 
  padding-left: 90px;
  min-height: 56.5vh;
  width: 46.5%;
  background-image: url(./logo-background.png);
  background-repeat: no-repeat;
  background-size: 100%;
  /* border-radius: 90px; */
}

.welcome-container h2{
  /* padding-top: 30px; 
  padding-left: 40px; */
  padding: 30px 40px;
}

.welcome-text-container {
  background-color: rgba(207, 231, 236, 0.3);
  width: 75%;
  border-radius: 50px;
}

.header-container {
  padding: 5px;
  font-size: 20px;
  color: #b3e7ec;
  text-decoration: none; 
  background-color: #b3e7ec; 
  padding-bottom: 5px;
  border: solid #55c9d3 1px;
}

.header-container img{
  max-width: 30%;
}



.login-text {
  text-align: center;
  padding-top: 50px; 
  padding-right: 50px;
}


.username-box {
  background-color: white;
  border: solid black 1px;
  border-radius: 20px;
  color: black;
  justify-content: center;
  text-align: center;
  font-size: 25px;
  position: relative;
  width: 45%;
  left: 3%;
}

.username-text{
  left: 30%;
}

.password-text{
  left: 30%;
}

.password-box {
  background-color: white;
  border: solid black 1px;
  border-radius: 20px;
  color: black;
  justify-content: center;
  text-align: center;
  font-size: 25px;
  position: relative;
  width: 45%;
  left: 3%;
}

.login-button {
  min-width: 100px;
  height: 30px;
  color: black;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 20px;
  border: 2px solid #57cc99;
  background: #b3e7ec;
  left: 31%;
}

.login-button:hover {
  color: #57cc99;
}

.or-text {
  text-align: center;
}

.signup-button {
  text-align: center;
  color: #57cc99;
  display: block;
}

.signup-button:hover {
  color: black;
}

.username-signup-box {
  background-color: white;
  border: solid black 1px;
  border-radius: 20px;
  color: black;
  justify-content: center;
  text-align: center;
  font-size: 25px;
  position: relative;
  width: 45%;
  left: 3%;
}

.password-signup-box {
  background-color: white;
  border: solid black 1px;
  border-radius: 20px;
  color: black;
  justify-content: center;
  text-align: center;
  font-size: 25px;
  position: relative;
  width: 45%;
  left: 3%;
}

.password-signup-confirmation-box {
  background-color: white;
  border: solid black 1px;
  border-radius: 20px;
  color: black;
  justify-content: center;
  text-align: center;
  font-size: 25px;
  position: relative;
  width: 45%;
  left: 3%;
}

.signup-button-two {
  min-width: 100px;
  height: 30px;
  color: black;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 20px;
  border: 2px solid #57cc99;
  background: #b3e7ec;
  left: 31%;
}

.signup-button-two:hover {
  background: #fff;
  color: #57cc99;
}

.login-link {
  text-align: center;
  color: #57cc99;
  display: block; 
}

.login-link:hover {
  background: #fff;
  color: black;
}

.or-text-two {
  text-align: center;
}

.signup-text {
  text-align: center;
  padding-top: 50px; 
  padding-right: 50px;
}

.you-signedup{
  text-align: center;
  padding-top: 50px; 
  padding-right: 50px;
}