body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.login{
  float: right;
  border: solid red 1px;
}

.welcome-container{
  border: solid blue 1px;
  max-width: 60%;
  position: absolute;
}

.header-container {
  padding: 5px;
  font-size: 20px;
  color: #b3e7ec;
  text-decoration: none; 
  background-color: #b3e7ec; 
  padding-bottom: 5px;
}

.header-container img{
  max-width: 30%;
}


.login-text {
  text-align: center;
}


.username-box {
  background-color: white;
  border: solid black 1px;
  border-radius: 20px;
  color: black;
  justify-content: center;
  text-align: center;
  font-size: 25px;
  position: relative;
  width: 45%;
  left: 3%;
}

.username-text{
  left: 30%;
}

.password-text{
  left: 30%;
}


.password-box {
  background-color: white;
  border: solid black 1px;
  border-radius: 20px;
  color: black;
  justify-content: center;
  text-align: center;
  font-size: 25px;
  position: relative;
  width: 45%;
  left: 3%;
}

.login-button {
  min-width: 100px;
  height: 30px;
  color: black;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 20px;
  border: 2px solid #57cc99;
  background: #b3e7ec;
  left: 31%;
}



.login-button:hover {
  background: #fff;
  color: #57cc99;
}

.or-text {
  text-align: center;
}

.signup-button {
  text-align: center;
  color: #57cc99;
  display: block;
}

.signup-button:hover {
  background: #fff;
  color: black;
}