body, button {
  margin: 0;
  font-family: 'Graduate', cursive;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.login{
  float: right;
  /* border: solid red 1px; */
  padding: 0 115px;
  padding-top: 90px; 
  height: 500px;
  width: 25%;
  background: rgb(197,70,88);
  background: linear-gradient(180deg, rgba(197,70,88,1) 0%, rgba(222,127,140,1) 100%);  
}

.welcome-container{
  /* border: solid blue 1px; */
  max-width: 60%;
  position: absolute;
  padding-top: 180px; 
  padding-left: 90px;
  height: 410px;
  width: 46.5%;
  
  background-image: url(./light_bulb_background3.png);
  background-repeat: no-repeat;
  background-size: 80%;
  /* border-radius: 90px; */
}

.welcome-container h2{
  /* padding-top: 30px; 
  padding-left: 40px; */
  padding: 30px 40px;
}

.welcome-text-container {
  background-color: rgba(207, 231, 236, 0.3);
  width: 75%;
  border-radius: 50px;
}

.welcome-text-container h2 {
  font-size: 19px !important;
}

.header-container {
  padding: 5px;
  font-size: 20px;
  color: #b3e7ec;
  min-width: 100%;
  text-decoration: none; 
  background-color: #C54658; 
  padding-bottom: 5px;
  border: solid white 1px;
}

.header-container img{
  max-width: 30%;
}



.login-text {
  text-align: center;
  padding-top: 50px; 
  padding-right: 50px;
}


.username-box {
  background-color: white;
  border: solid black 1px;
  border-radius: 20px;
  color: black;
  justify-content: center;
  text-align: center;
  font-size: 25px;
  position: relative;
  width: 45%;
  left: 3%;
}

.username-text{
  left: 70px;
}

.password-text{
  left: 30%;
}

.password-box {
  background-color: white;
  border: solid black 1px;
  border-radius: 20px;
  color: black;
  justify-content: center;
  text-align: center;
  font-size: 25px;
  position: relative;
  width: 45%;
  left: 3%;
}

.login-button {
  min-width: 100px;
  height: 30px;
  color: black;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 20px;
  border: 2px solid #57cc99;
  background: white;
  left: 31%;
}

.login-button:hover {
  color: white;
}

.or-text {
  text-align: center;
  right: 20px;
  position: relative;
}
.sign-up-form{
  position: absolute;
  right: 50px;
  
}
.Login-form{
  position: absolute;
  right: 90px;
  color: white;
}
.signup-button {
  text-align: center;
  position: relative;
  color: white;
  display: block;
  right: 20px;
}

.signup-button:hover {
  color: black;
}
.username-signup{
  position: relative;
  
  left: 83px;
}

.username-signup-box {
  background-color: white;
  border: solid black 1px;
  border-radius: 20px;
  color: black;
  justify-content: center;
  text-align: center;
  font-size: 25px;
  position: relative;
  width: 45%;
  left: 70px;
}

.password-signup-box {
  background-color: white;
  border: solid black 1px;
  border-radius: 20px;
  color: black;
  justify-content: center;
  text-align: center;
  font-size: 25px;
  position: relative;
  width: 45%;
  left: 70px;
  
}

.each-activity-container {
  padding: 10px;
  padding-top: 10px;
}

.header-activity .box{
  width: 90%;
  padding: 20px;
  margin: 30px 0px;
}

.header-plan {
  width: 40%;
  float: right;
  padding: 20px;
  margin: auto auto;
  text-align: center;}

.activity-container {
  width: 50%;
  float: left;
}

.password-signup-confirmation-box {
  background-color: white;
  border: solid black 1px;
  border-radius: 20px;
  color: black;
  justify-content: center;
  text-align: center;
  font-size: 25px;
  position: relative;
  width: 45%;
  right: 82px;
  left: 70px;
}

.password-confirmation-text {
  position: relative;
  
  left: 83px;
}

.signup-button-two {
  min-width: 100px;
  height: 30px;
  color: black;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 20px;
  border: 2px solid black;
  background: white;
  left: 31%;
}

.signup-button-two:hover {
  background: #fff;
  color: #57cc99;
}

.login-link {
  text-align: center;
  color: #57cc99;
  display: block; 
  right: 30px;
  position: relative;
}

.login-link:hover {
  color: black;
}

.or-text-two {
  text-align: center;
  right: 30px;
  position: relative;
}

.signup-text {
  text-align: center;
  padding-top: 50px; 
  padding-right: 50px;
}

.you-signedup{
  text-align: center;
  padding-top: 50px; 
  padding-right: 50px;
}

.searchBar {
  background-color: white;
  border: 2px solid white;
  border-radius: 20px;
  color: black;
  justify-content: center;
  text-align: center;
  font-size: 25px;
  position: relative;
  width: 300px;
  top: 20px;
  height:25px
  /* left: 8%; */
}

.search-button {
  min-width: 100px;
  height: 30px;
  color: black;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 20px;
  border: 2px solid #57cc99;
  background: #b3e7ec;
  right: 10px;
  top: 17px;
}

.search-button:hover {
  background: #fff;
  color: #57cc99;
}

.search-user-text {
  position: relative;
  right: 2%;
}

.Search-Bar-Box {
  position: relative;
  height: 65px;
  width: 100%;
  background-color: #9ddce1;
}

.inputSearch{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.update-your-profile-button {
  min-width: 100px;
  height: 30px;
  color: black;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 20px;
  border: 2px solid black;
  background: rgb(240, 133, 149);
  
}

.profile-detail * {
  padding: 10px 10px;
}

.update-your-profile-button:hover {
  background: #fff;
  color: #57cc99;
}

.logout-button {
  min-width: 100px;
  height: 30px;
  float: right;
  color: black;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 20px;
  border: 2px solid black;
  left: -2%;
  background: rgb(240, 133, 149);
}

.logout-button:hover {
  background: #fff;
  color: #57cc99;
}

.post-button {
  min-width: 100px;
  height: 30px;
  color: black;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: absolute;
  display: inline-block;
  outline: none;
  border-radius: 20px;
  border: 2px solid #57cc99;
  background: #b3e7ec;
  
  top: 185px;
    left: 143px
}

.post-button:hover {
  background: #fff;
  color: #57cc99;
}

.delete-button {
  min-width: 80px;
  height: 30px;
  color: black;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 20px;
  border: 2px solid #57cc99;
  background: #b3e7ec;
  left: 80%;
}

.delete-button:hover {
  background: #fff;
  color: #57cc99;
}

.add-image-button {
  min-width: 100px;
  height: 30px;
  color: black;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 20px;
  border: 2px solid #57cc99;
  background: #b3e7ec;
  left: 20px;
  top: 29px;
}

.add-image-button:hover {
  background: #fff;
  color: #57cc99;
}

.leave-comment-button {
  min-width: 100px;
  height: 30px;
  color: black;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 20px;
  border: 2px solid #57cc99;
  background: #b3e7ec;
  left: 0px;
  top: 30px;
}

.leave-comment-button:hover {
  background: #fff;
  color: #57cc99;
}

.comment-button {
  min-width: 100px;
  height: 30px;
  color: black;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 20px;
  border: 2px solid #57cc99;
  background: #b3e7ec;
  left: 3%;
}

.comment-button:hover {
  background: #fff;
  color: #57cc99;
}

.like-button{
  min-width: 60px;
  height: 30px;
  color: black;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 20px;
  border: 2px solid #57cc99;
  background: #b3e7ec;
  left: 2%;
}

.like-button:hover {
  background: #fff;
  color: #57cc99;
}

.description-box {
  position: relative;
  text-align: center;
  border-radius: 20px;
  height: 80px;
  width: 400px;
  border: 2px solid white;
  background-color: rgba(207, 231, 236, 0.3);
  
}

.image-url-box {
  position: relative;
  text-align: center;
  border-radius: 20px;
  height: 25px;
  width: 400px;
  border: 2px solid white;
  background-color: rgba(207, 231, 236, 0.3);
  margin-left: 1px;
}

.comment-text-box {
  position: relative;
  text-align: center;
  border-radius: 20px;
  height: 60px;
  width: 70%;
  border: 2px solid white;
  background-color: rgba(207, 231, 236, 0.3);
}

.comment-image-url-box {
  position: relative;
  text-align: center;
  border-radius: 20px;
  height: 25px;
  width: 67%;
  border: 2px solid white;
  background-color: rgba(207, 231, 236, 0.3);
  top: 20px;
}

.profile-detail-container {
  display: flex;
  flex-direction: column;
  float: left;
  /* border: solid red 1px;  */
  padding-left: 10px;
  width: 400px;
  padding-top: 45px; 
  height: 1000px;
  
  background: rgb(179,231,236);
  background: linear-gradient(180deg, rgba(179,231,236,1) 0%, rgba(227,244,247,1) 100%);
}

.profile-image {
  width: 134px;
  height: 134px;
  border-radius: 50%;
  border: white 3px solid;
}
label {
  display: flex;
  flex-direction: row;
  
  text-align: right;
  width: 400px;
  line-height: 26px;
  margin-bottom: 10px;
}

input {
  height: 20px;
  flex: 0 0 200px;
  margin-left: 10px;
}

/* .mark {
  position: relative;
  background-color: green;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  border: #fff 3px solid;
  bottom: 3px;
  right: 0px;
} */

.nickname-input-box {
  position: relative;
  text-align: center;
  border-radius: 20px;
  height: 25px;
  width: 50%;
  border: 2px solid #57cc99;
  background-color: rgba(207, 231, 236, 0.3);
  margin-right: 2em;
}

.name-input-box {
  position: relative;
  text-align: center;
  border-radius: 20px;
  height: 25px;
  width: 50%;
  border: 2px solid #57cc99;
  background-color: rgba(207, 231, 236, 0.3);
  margin-right: 4%;
}

.profile-picture-input-box {
  position: relative;
  text-align: center;
  border-radius: 20px;
  height: 25px;
  width: 50%;
  border: 2px solid #57cc99;
  background-color: rgba(207, 231, 236, 0.3);
}

.age-input-box {
  position: relative;
  text-align: center;
  border-radius: 20px;
  height: 25px;
  width: 50%;
  border: 2px solid #57cc99;
  background-color: rgba(207, 231, 236, 0.3);
}

.email-input-box {
  position: relative;
  text-align: center;
  border-radius: 20px;
  height: 25px;
  width: 50%;
  border: 2px solid #57cc99;
  background-color: rgba(207, 231, 236, 0.3);
}

.location-input-box {
  position: relative;
  text-align: center;
  border-radius: 20px;
  height: 25px;
  border: 2px solid #57cc99;
  background-color: rgba(207, 231, 236, 0.3);
}

.occupation-input-box {
  position: relative;
  text-align: center;
  border-radius: 20px;
  height: 25px;
  width: 50%;
  border: 2px solid #57cc99;
  background-color: rgba(207, 231, 236, 0.3);
}

.bio-input-box {
  position: relative;
  text-align: center;
  border-radius: 20px;
  height: 70px;
  width: 20%;
  border: 2px solid black;
  background-color: rgba(207, 231, 236, 0.3);
}

.update-profile-button {
  min-width: 100px;
  height: 30px;
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 20px;
  border: 2px solid black;
  font-size: 12px !important;
  font-family: 'Graduate', cursive !important;
  background: rgb(240, 133, 149);
}

.update-profile-button:hover{
  background: #fff;
  color: black;
}



.each-post-container {
  border: 2px solid #57cc99;
 
}
.buttons-container{
  position: absolute;
  top: 63px;
  border-radius: 20px; 
}

.profileImage {
  width: 134px;
  height: 134px;
  border-radius: 50%;
  border: black 3px solid;
}

.follow-button {
  min-width: 100px;
  height: 30px;
  color: black;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 20px;
  border: 2px solid #57cc99;
  background: #b3e7ec;
  left: 3%;
}

.follow-button:hover {
  background: #fff;
  color: #57cc99;
}

.image-search-user {
  width: 134px;
  height: 134px;
  border-radius: 50%;
  border: #57cc99 3px solid;
}

.close-icon {
  float: right;
}

.close-comment-button {
  min-width: 20px;
  height: 30px;
  color: black;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 20px;
  border: 2px solid #57cc99;
  background: #b3e7ec;
  left: -2%;
}

.close-comment-button:hover {
  background: #fff;
  color: #57cc99;
}

.like-dislike-btn {
  min-width: 40px;
  height: 30px;
  color: black;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 20px;
  border: 2px solid #57cc99;
  background: #b3e7ec;
  left: -2%;
}

.like-dislike-btn:hover {
  background: #fff;
  color: #57cc99;
}

.create-button {
  min-width: 100px;
  height: 30px;
  color: black;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 20px;
  border: 2px solid black;
  background: rgb(240, 133, 149) !important;
  left: 3%;
}

.create-button:hover {
  background: #fff !important;
  color: #57cc99;
}

.plan-activities-container {
  border-top: 1px solid black;
  
}

.plan-button, button {
  min-width: 100px;
  height: 30px;
  color: black !important;
  padding: 5px 10px !important;
  font-weight: bold;
  font-size: 11px !important;
  font-family: 'Graduate', cursive !important;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 20px;
  border: 2px solid black;
  background: rgb(240, 133, 149);
  left: 3%;
}

.plan-button:hover {
  background: #fff;
  color: #57cc99;
}

.delete-activity-button {
  min-width: 100px;
  height: 30px;
  color: black;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 20px;
  border: 2px solid black;
  background: rgb(240, 133, 149) !important;
  left: 3%;
}

.delete-activity-button:hover {
  background: #fff !impo;
  color: #57cc99;
}

.delete-plan-button {
  min-width: 100px;
  height: 30px;
  color: black;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 20px;
  border: 2px solid black;
  background: rgb(240, 133, 149) !important;
  left: 3%;
}

.delete-plan-button:hover {
  background: #fff !important;
  color: #57cc99;
}

.header-activity{
  position: relative;
  /* top: -20px; */
  /* left: -20px; */
  font-size: 16px;
  padding: 20px;
  font-weight: bold;
  color: rgb(197,70,88);
  border-radius: 50px;
}

.activity-container .header-activity {
  background: #e0e0e0;
box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
}

.main-container {
  padding: 20px;
}

.header-plan {
  position: relative;
  /* top: -20px;
  left: -20px; */
  font-size: 16px;
  padding: 20px;
  font-weight: bold;
  color: rgb(197,70,88);
  border-radius: 50px;
  background: #e0e0e0;
  /* box-shadow:  20px 20px 60px #bebebe,
               -20px -20px 60px #ffffff; */
  }

  .header-plan h1{
    font-size: 19px;
    color: black;
  }

  .header-plan a {
    text-decoration: none;
    padding: 30px;
  }

  .box {
    background-color: #f0f0f0;
    padding: 20px;
    width: 50%;
  }


  .delete-plan-button{
    font-size: 20px;
    font-weight: bold;
    color: rgb(197,70,88);
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow:  20px 20px 60px #bebebe,
                 -20px -20px 60px #ffffff;
  }

  .delete-plan-button:hover{
    background: #fff;
    color: #57cc99;
  }

  .header-container a{
    padding: 0 20px;
    font-size: 17px;
    color: white;
    margin: 5px 10px;
    /* float: right; */
    margin-top: 3%;
    text-decoration: none;
  }

  .header-container a:hover{
    color: #f0f0f0;
  }

  .input-container input {
    border-radius: 20px;
    margin: 10px 0;
    padding: 0;
    width: 20%;
    font-size: 10px;
    border: 2px solid black;
  }

